*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Título Cursiva";
    src: url('../recursos/fonts/YesevaOne-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;500;700&display=swap');

/* INDEX */
.body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin: auto;
    max-width: 1150px;
}

.inicio{
    max-width: 1150px;
}

.logo{
   position: absolute;
}

.header h1{
    color: rgb(29, 29, 117);
    font-family: sans-serif;
    font-size: 80px;
    font-weight: 500;
    background-color:  rgb(0, 61, 165);
    color: white;
    height: 150px;
    padding: 30px;
    text-align: center;
}

.header .titulo img{
    width: 115px;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    width: 1150px;
    justify-content: space-around;
    align-items: baseline;
}

.navbar ul li{
    padding: 20px;
    font-weight: 400;
    color: rgb(29, 29, 117);
    text-decoration: none;
}

.navbar a:hover{
    background-color:  rgb(0, 61, 165);
    color: white;
    border-radius: 10px;
}

.navbar ul li a{
    font-weight: 400;
    color: rgb(29, 29, 117);
    text-decoration: none;
}

.navbar ul form input{
    font-size: 24px;
    width: 180px;
}

.navbar ul form button{
    font-size: 24px;
    color: white;
    background-color: rgb(0, 61, 165);
    border-color: rgb(0, 61, 165);
}

.main h1{
    color: rgb(29, 29, 117);
    padding: 20px;
    font-weight: 400;
    font-size: 50px;
}

.carousel-inner h5{
    font-size: 60px;
    color:white;
    font-weight: 600;
}

.carousel-inner a{
    text-decoration: none;
    color: white;
}

.carousel-inner p{
    font-size: 34px;
    font-weight: 600;
    color: white;
}

.video{
    display: flex;
    flex-direction: row;
    text-align: left;
    font-family: sans-serif;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.video .video-text{
    width: 480px;
    color: rgb(29, 29, 117);
    padding-right: 30px;
}

.video iframe{
    height: 410px;
    border-radius: 20px;
}

.redes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.redes div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1150px;
}

.redes div a{
    height: 250px;
}

.redes h2{
    font-size: 40px;
    font-weight: 400;
    color: rgb(29, 29, 117);
}

.redes div img{
    height: 90%;
}

.footer{
    background-color:  rgb(0, 61, 165);
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 400;
    padding-top: 40px; 
    padding-bottom: 40px;
}

@media (max-width: 650px){
    .body{
        display: block;
    }
    
    .header .titulo img{
        display: none;
    }

    .navbar ul{
        flex-direction: column;
    }

    .navbar ul form input{
        display: none;
    }

    .navbar ul form button{
        display: none;
    }

    .video{
        flex-direction: column;
    }

    h1{
        padding: 20px;
    }

    h2{
        padding: 20px;
    }

    h3{
        padding: 20px;
    }

    h4{
        padding: 20px;
    }

    p{
        padding: 20px;
    }

    .video iframe{
        width: 440px;
        height: 280px;
    }

    .redes{
        display: none;
    }

    .footer{
        padding: 20px;
    }
}

/* CAMPUS */
.campus{
    max-width: 1150px;
}

.campus .main img{
    width: 1150px;
}

.campus .main p{
    font-weight: 400;
    font-family: sans-serif;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(29, 29, 117);
}

.campus .campus_img{
    padding-bottom: 30px;
}

.campus .actividades{
    padding-bottom: 20px;
}

.campus .actividades p{
    font-size: 28px;
    padding-bottom: 20px;
}

.campus .actividades .accordion-button{
    font-weight: 500;
    font-size: 28px;
    padding: 30px;
}

.campus .actividades .accordion-body{
    font-weight: 400;
    font-size: 28px;
    padding: 30px;
}

.campus .actividades .accordion-body img{
    padding: 30px;
    max-width: 1000px;
}

.campus .eventos{
    padding-bottom: 20px;
}

.campus .eventos h3{
    font-weight: 100;
    border-bottom: 4px solid brown;
    padding-top: 10px;
    padding-bottom: 10px;
}

.campus .eventos h4{
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 10px;
}

.campus .eventos h2{
    font-weight: 400;
    font-size: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.campus .eventos .titulo_evento{
    font-size: 32px;
    background-color: brown;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.campus .eventos .epigrafe_evento{
    color: brown;
    padding-top: 10px;
    padding-bottom: 10px;
}

.campus .eventos .info_evento{
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.campus .redes{
    text-align: center;
}

.campus .redes img{
    width: auto;
    height: 90%;  
}

@media (max-width: 650px){
    .campus .main img{
        max-width: 750px;
        height: auto; 
    }
    .campus .actividades .accordion-body img{
        max-width: 450px;
        height: auto; 
    }
}

/* FACULTADES */
.facultades{
    max-width: 1150px;
}

.facultades .main img{
    width: 1150px;
}

.facultades .casas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;     
    color: rgb(29, 29, 117);
    font-family: sans-serif;
    font-size: 30px;
    justify-content: space-between; 
    justify-content: space-around;
}

.facultades .becas h1{
    padding-top: 40px;
}

.becas .accordion-body li:hover{
    color: rgb(41, 172, 91);
}

.facultades .becas_principal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: sans-serif;
    font-size: 28px;
    padding-bottom: 40px;
    justify-content: space-evenly;
}

.facultades .becas_video{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    font-family: sans-serif;
    font-size: 28px;
    width: 580px;
    padding-bottom: 40px;
}

.facultades .becas_video p{
    padding-bottom: 20px;
    font-size: 24px;
}

.facultades .becas_video iframe{
    border-radius: 20px;
}

.facultades .becas .accordion{
    width: 550px;
    padding-left: 40px;
}

.facultades .becas .accordion .accordion-button{
    font-size: 25px;
}

.facultades .becas .accordion .accordion-body{
    font-size: 22px;
}

.facultades .ciencias_nat h2{
    font-weight: 400;
    font-size: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.facultades .ciencias_nat p{
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.facultades .ciencias_soc h2{
    font-weight: 400;
    font-size: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.facultades .ciencias_soc p{
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.facultades .arquitectura h2{
    font-weight: 400;
    font-size: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.facultades .arquitectura p{
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.facultades .redes{
    text-align: center;
    padding-top: 30px;
}

.facultades .redes img{
    width: auto;
    height: 90%;  
}

@media (max-width: 650px){
    .facultades .becas_video{
       padding: 20px; 
    }
    .facultades .becas_video iframe{
        width: 440px;
        height: 280px;  
    }
}

/* INSTITUCIONAL */
.institucional{
    max-width: 1150px;
}

.institucional .main img{
    width: 1150px; 
}

.institucional .container {  display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 600px 100px;
    gap: 50px;
    padding: 30px;
    grid-template-areas:
      "descriptivo descriptivo contacto"
      "link link contacto";
  }
  
  .institucional .descriptivo { grid-area: descriptivo;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 24px;
    padding: 20px;
    color: rgb(29, 29, 117);
}
  
.institucional .link { grid-area: link; 
    text-align: center;
    display: block;
    justify-content: space-around;
}

.institucional .link a{ grid-area: link; 
    text-align: center;
    text-decoration: none;
    border-radius: 10px; 
    background-color:  rgb(0, 61, 165);     
    color: white;
    font-family: sans-serif;
    font-size: 26px;
    padding: 20px;
}

.institucional .container h1{
    font-size: 40px;
  }
  
.institucional .contacto { grid-area: contacto;
    font-size: 24px;
}

.institucional .redes{
    text-align: center;
}

.institucional .redes img{
    max-height: 90%;
    width: auto; 
}

@media (max-width: 650px){
    .institucional .container{
        display: block;
      }
      .institucional .container .link{
        display: flex;
        flex-direction: column;
        height: 300px;
      }
      .institucional .container .contacto{
        display: block;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .institucional .main img{
        max-width: 750px;
        height: auto; 
    }
}

/* POSGRADOS */
.posgrados .body{
    max-width: 1150px;
    padding: 20px;
}

.posgrados .main .superior{
    max-width: 1150px;
}

.posgrados .carousel-item h5{ 
    background-color: white;
    width: 1150px;
}
.posgrados .carousel-item a{
    color: black;
}

.posgrados .carousel-caption {
    position: absolute;
    right: 0;
    bottom: 1.25rem;
    left: 0;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.posgrados .main .reconocimiento{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.posgrados .main .reconocimiento p{
    font-weight: 400;
    font-family: sans-serif;
    font-size: 24px;
    padding: 24px;
    background-color: rgb(63, 63, 63);
    color: white;
    max-width: 520px;
    border-radius: 10px;
}

.posgrados .main .reconocimiento .imagen{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.posgrados .superior{
    color: rgb(29, 29, 117);
}

.posgrados .superior p{
    font-size: 32px;
}

.posgrados .doctorado h2{
    font-weight: 400;
    font-size: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.posgrados .doctorado p{
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.posgrados .maestria h2{
    font-weight: 400;
    font-size: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.posgrados .maestria p{
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.posgrados .especializacion h2{
    font-weight: 400;
    font-size: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.posgrados .especializacion p{
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.posgrados .info{
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 100;
}

.posgrados .numeros0{
    text-align: center;
    padding-top: 40px;
}

.posgrados .numeros1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: sans-serif;
    justify-content: space-between;
    justify-content: space-around;
    padding-bottom: 20px;
    color: rgb(79, 126, 214);
}

.posgrados .numeros1 .p1{
    font-size: 40px;
    font-weight: 500;
}

.posgrados .numeros1 .p2{
    font-size: 40px;
    font-weight: 500;
}

.posgrados .numeros1 .p3{
    font-size: 40px;
    font-weight: 500;
}

.posgrados .numeros2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 32px;
}

.posgrados .redes{
    text-align: center;
    padding-top: 40px;
}

.posgrados .redes img{
    width: auto;
    height: 90%;  
}

@media (max-width: 650px){
    .posgrados .main .reconocimiento .imagen{
        display: none;
    }

    .posgrados .main .reconocimiento p{
        color: rgb(29, 29, 117);
        background-color: white;
    }

    .posgrados .numeros1{
        padding-bottom: 0;
    }

    .posgrados .numeros2{
        font-size: 26px;
        padding-top: 0;
    }
}